@media screen and (max-width: 980px) {
    .number{
        display: block;
    }
    .info{
        display: none;
    }
    .social{
        display: none;
    }
    .navigate{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .top-padding{
        text-align: center;
        font-size: 21pt;
        font-family: "Arial Black";
    }
    .basket_full_main{
        max-height: 100%!important;
        overflow: auto;
        height: auto;
        margin-top: 0!important;
        top:0!important;
        width: 100%;
        margin-left: 0!important;
        left:0!important;
    }
    .basket_full{
        height: auto;
        width: 100%;
    }
    .my_basket{
        height: auto;
    }
    .my_basket p{
        font-size: 40pt;
    }
    .close img{
        width: 60px;
        height: 60px;
    }
    .scroll{
        height: auto!important;
        width: 100%;
        overflow: auto!important;
        max-height: none!important;
    }
    .block_info_flover{
        height: auto;
        width: 100%;
    }
    .flover_block{
        width: 100%;
        height: auto;

    }
    .flover_block p:nth-child(2) {
        margin-top: 10px;
    }
    .flover_block img{
        width: 96%;
        height: auto;
        display: inline-block;
    }
    .flover_block h4{
        font-size: 40pt;
        padding-left: 0px;
    }
    .flover_block p{
        font-size: 30pt;
        padding-left: 0;
    }
    .count_flover{
        height: auto;
    }
    .count_flover p{
        font-size: 30pt;
    }
    .counter_basket{
        height: auto;
        width: 100%;
        border-radius: 70px;
    }
    .counter_basket button{
        width: 20%;
        height: 150px;
        font-size: 60pt;
    }
    .counter_basket input {
        width:50%;
        height: 150px;
        font-size: 60pt;
        padding-left: 20%;
    }
    .sum_inf p{
        width: 50%;
        font-size: 30pt!important;
        text-align: left;
    }
    .sum_inf a{
        width: auto;
        height: auto;
        margin-top: -100px;
    }
    .delete_basket_elem{
        width: 50%;
    }
    .sum_inf img{
        width: 70px;
        height: 70px;
    }
    .delivery_main{
        height: auto;
    }
    .delivery{
        width: 100%;
    }
    .delivery input{
        width: 30px;
        height: 30px;
    }
    .delivery p{
        font-size: 30pt;
    }
    .delivery_sum{
        height: auto;
        width: 100%;
        margin-top: 50px;
    }
    .delivery_sum p{
        font-size: 30pt;
    }
    .accept {
        height: auto;
    }
    .accept_finish{
        height: 100px;
        width: 400px;
        border-radius: 50px;
    }
    .accept_finish p{
        font-size: 25pt;
        padding-top: 15px;
    }
/* начало мобильной версии для телефона*/
    .info_flover{
        height: auto;
        margin-top: 0!important;
        top:0!important;
        width: 100%;
        margin-left: 0!important;
        left:0!important;
        overflow: auto;
        max-height: 100%;
    }
    .info_flover img{
        width: 100%;
        height: auto;
    }
    .window {
        width: 100%;
        height: auto;
    }
    .name {
        width: 100%;
        height: auto;
    }
    .name h3{
        font-size: 40pt;
    }
    .close img{
        width: 60px;
        height: 60px;
    }
    .content{
        width: 100%;
        height: auto;
    }
    .content p{
        font-size: 30pt;
    }
    .sale {
        width: 100%;
        height: auto;
        min-height: 56px;
    }
    .sale img{
        height: 70px;
        width: 70px!important;
    }
    .sale p{
        font-size: 30pt;
    }
    .sale strike{
        font-size: 30pt;
    }
    .window_info{
        width: 100%;
        height: auto;
    }
    .order_counter {
        width: 100%;
        height: 460px;
        position: static;
    }
    .counter_main{
        width: 100%;
        height: 230px;
        float: left;
    }
    .counter_main p {
        font-size: 30pt;
    }
    .list_order{
        width: 100%;
        height: 230px;
        float: right;
        margin-left: 0!important;

    }
    .add_to_basket{
        width: 100%;
        height: auto;
    }
    #add_to_basket{
        height: auto;
    }
    .add_order{
        width: 400px;
        height: 100px;
        border-radius: 50px;
        font-size: 25pt;
    }
    .add_order p{
        padding-top: 20px!important;
        font-size: 25pt;
    }
    .counter{
        height:160px;
        width: 100%;
        border-radius: 75px;
    }
    .counter button{
        width: 20%;
        height: 150px;
        font-size: 60pt;
    }
    .counter input {
        width:50%;
        height: 150px;
        font-size: 60pt;
        padding-left: 20%;
    }
    .list_order select{
        font-size: 40pt;
        width: 100%;
        height: 160px;
        border-radius: 80px;
    }
    .one_click_2{
        font-size: 30pt;
        width: 100%;
        margin-left: 0!important;
        margin-top: 20px!important;

    }
    .one_click_2 p{
        font-size: 30pt;
    }
    #package_list {
         border-radius: 75px;


    }
    .to_basket{
        font-size: 30pt;
    }
    .done{
        font-size: 30pt;
    }
    .catalog_content{
        height: auto;
    }
    .catalog_sale_price{
        height: auto;
    }
    .catalog_sale_price strike{
        font-size: 28pt;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .navigate{
        height: auto;
    }
    .menu{
        height: auto;
        background-color: white;
    }
    .gamburger{
        height: auto;
    }
    .count{
        margin-right: 20px;
    }
    .menuvip {
        width: 50%;
    }
    .menuvip-main-li-1{
        border-radius: 35px;
        height: 70px;
        width: 80px;
        margin-left: 20px;
    }
    .menuvip-main-li-1 img{
        max-height: 40px;
        max-width: 40px;
        margin-top: 15px;
    }
    .menuvip-main-li-2{
        height: 70px;
        border-radius: 0px 35px 35px 0px;
        display: none;
    }
    .menuvip-main-li-2 p {
        font-size: 30pt;
        margin-top: 5px;
    }
    .count-main{
        width: auto;
        margin-right: 30px;
        height: 70px;
    }
    .count-basket{
        height: 41px;
        width: 41px;
        left: auto;
        right: 15px;
        border-radius: 20px;
    }
    .count-basket p{
        font-size: 28pt;
    }
    #counter{
        margin-top: -5px;
    }
    .basket-menu{
        width: 60px;
    }
    .logo{
        display: none;
    }
    .search{
        height: auto;
        margin-top: 0;
    }
    .searchinput{
        font-size: 28pt;
        height: 70px;
        border-radius: 35px;
    }
    .searchinput input{
        height: 60px;
        padding-left: 30px;
    }
    .searchinput button{
        height: auto;
        max-height: 40px;
    }
    .searchinput img{
        max-height: 40px;
    }
    .imageround{
        display: none;
    }
    .main{
        margin-top: 100px;
        padding: 0px 10px;
    }
    .imagegirl{
        margin-top: 100px;
    }
    .logo_mobile{
        display: block;
    }
    .logo_mobile img{
        max-height: 100px;
    }
    .number_mobile{
        display: block;
    }

    .number_mobile p{
        margin-top: 20px;
        font-size: 28pt;
    }
    .textmain p{
        font-size: 18pt;
    }
    .categor{
        height: auto;
    }
    .categor_list{
        height:auto;
    }
    .categor-text{
        width: 100%;
    }
    .categor-text p{
        font-size: 28pt;
    }
    .categor-menu{
        width: 90%;
        height: auto;
        float:left;
    }
    .categor-menu select{
        height: 70px;
        border-radius: 35px;
    }
    #category{
        font-size: 28pt;
    }
    .sortir{
        height: auto;
    }
    .sortir-text{
        width: 100%;
    }
    .sortir-text p{
        font-size: 28pt;
        float:right;
    }
    .sortir-menu{
        width: 90%;
        height: auto;
        float: right;
    }
    .sortir-menu select{
        height: 70px;
        border-radius: 35px;
    }
    #sort{
        font-size: 28px;
    }
    .sortir img{
        display: none;
    }
    .tryvers{
        height: auto;
    }
    .tryvers_block{
        height: auto;
    }
    .tryvers_block:hover{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.tryvers_block:hover .name_flower{
    color:#333;
}
.tryvers_block:hover .flovers_foto{
    display: inline-block;
    height: 250px;
    margin-left: -5%;
}
.tryvers_block:hover .basket_add{
     height: 35px;
    max-width: 35px;
    float: right;
    display: none;
}
.tryvers_block:hover .basket_add img{
    display: block;
    height: 35px;
    max-width: 35px;
    }
.tryvers_block:hover .price{
     margin-bottom: 0;
    color:#b85778;
    padding-top: 10px;
}
.tryvers_block:hover .name_flower{
    margin-bottom: 0;
    padding-top: 15px;

}
.tryvers_block:hover .info_and_basket{;
     width: 70%;
    margin: auto;
    height: 35px;
    background-color: transparent;
    padding-top: 15px;
}
.tryvers_block:hover .one_click{
    float: left;
    height: 35px;
    border-radius: 17px;
    border:1px solid #b85778;
    width: 70%;
    text-decoration: none;
    color: #b85778;
    display:none;
}

.tryvers_block:hover .one_click:hover{
    padding-top:1px;
    font: 16px 'cursive';
    color: #b85778;
}

.tryvers_block:hover .one_click p{
    width: 100%;
    height: 100px;
    background-color: white;
}
.tryvers_block:hover .flovers_discript{
    height: auto!important;
    margin-top: 0!important;
}
.tryvers_block:hover .flovers_discript p {
    font-size: 28pt;
}
    .flovers_discript{
        height: auto;
    }
    .flovers_discript p{
        font-size: 28pt;
    }
    .imagelego{
        background: none;
        height: auto;
        font-size: 28pt;
        display: none;
    }
    .top{
        height: auto;
    }
    .bot{
        height: auto;
    }
    .caption{
        text-align: left;
    }
    .descrip{
        text-align: left;
    }
    .lego {
        height: auto;
        display: none;
    }
    .legotext{
        height: 70px;
        border-radius: 35px;
    }
    .legotextmain{
        height: 70px;
        border-radius: 35px!important;
    }
    .legotextmain p{
        height: 70px;
        border-radius: 35px!important;
        font-size: 25pt;
    }
    .revers_call{
        height: auto;
    }
    .revers_info{
        height: auto;
    }
    .revers_info p{
        font-size: 28pt;
    }
    .revers_info h4{
        font-size: 50pt;
    }
    .revers_commun{
        height: auto;
        font-size: 40pt;
    }
    .revers_commun h4{
        font-size: 35pt!important;
    }
    .revers_commun p{
        font-size: 30pt!important;
        height: auto;
    }
    .end{
        height: auto;
        padding: 0px 10px!important;
    }
    .adress p{
        font-size: 28pt;
    }
    .socweb-footer {
        height: 70px!important;
        width: 70px!important;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .socweb-footer.vk{
        width: 75px!important;
        margin-left: 30px;
        margin-top: 30px!important;
        margin-bottom: 20px;
    }
    .minilogo img{
        height: 135px;
    }
    .footer{
        height: auto;
    }
    /*выпадащее меню*/
    .menu_revers{
        width: 50%;
        left: -50%;
    }
    .menu_revers_main a{
        font-size: 28pt;
    }
    /*начало адаптивного поиска*/
    .search_global{
        max-height: 100%!important;
        overflow: auto;
        height: auto;
        margin-top: 0!important;
        top:0!important;
        width: 100%;
        margin-left: 0!important;
        left:0!important;
    }
    .search_main{
        height: auto;
        width: 100%;
    }
    .top_search{
        width: 100%;
        height: auto;
    }
    .top_search img{
        width: 50px;
        height: 50px;
        max-width: none;
        max-height: none;
    }
    .text_search{
        width:80%;
        display: inline-block;
        float:left;
    }
    .text_search h4{
        font-size: 40pt;
    }
    .search{
        height: auto;
        margin-top: 0;
    }
    .form_search{
        font-size: 38pt;
        height: 100px;
        border-radius: 35px;
        width: 100%;
        margin-top: 50px;
    }
    .form_search input{
        height: 90px;
        padding-left: 20px;
    }
    .form_search button{
        height: 90px;

    }
    .form_search img{
        height: 40px;
        width: 40px;
    }
    .img_top{
        float:none;
        max-width: 50px;
        max-height: 50px;
        width: 20%;
        display: inline-block;
    }
    .top_search img{
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    .divide{
        display: inline-block;
    }
    .search-scroll{
        height: auto!important;
        width: 100%;
        overflow: auto!important;
        max-height: none!important;
    }
    .block_info_search{
        height: auto;
        text-align: center;
        border-bottom: none;
    }
    .search_block{
        height: auto;
        width: 100%;
    }
    .search_block img{
        width: 100%;
        height: auto;
    }
    .search_block h4{
        display: inline-block;
        font-size: 40pt;
        padding-left: 0;
    }
    .sale_flowerinput {
        width: 100%;
        height: auto;
    }
    .sale_flowerinput strike{
        font-size: 30pt;
    }
    .sale_flowerinput p{
        padding-left: 0;
    }
    .sale_flowerinput img{
        width: 70px!important;
        height: 70px!important;
        margin-top: 0;
    }
    .count_flover_2{
        width: 100%;
        height: auto;
        float:none;
        display: inline-block;
    }
    .count_flover_2 p{
        font-size: 30pt;
    }
    .packaging{
        display: inline-block;
        width: 100%;
        height: auto;
        float:none;
        margin-left: 0;
    }
    .packaging select{
        width: 100%;
        height: 150px;
        font-size: 30pt;
        border-radius: 75px;
    }
    .packaging p{
        font-size: 30pt;
        float:left;
    }
    .buy_one{
        display: inline-block;
        width: 450px;
        height: 100px;
        font-size: 40pt;
        float:left;
        border-radius: 75px;
    }
    .buy_one p{
        padding-top: 10px;
        font-size: 40pt;
    }
    .bask{
        display: inline-block;
        float: left;
        height: 150px;
        margin-left: 70px;
    }
    .bask img{
        height: 100px;
        width: 100px;
    }
    .counter_basket2{
        height: auto;
        width: 100%;
        border-radius: 75px;
    }
    .counter_basket2 button{
        width: 20%;
        height: 150px;
        font-size: 60pt;
    }
    .counter_basket2 input {
        width:50%;
        height: 150px;
        font-size: 60pt;
        padding-left: 20%;
    }
    .sale_search {
        margin-left: 0!important;
    }
    .sale_search img{
        height: 70px!important;
        width: 70px!important;
    }
    .sale_search strike{
        font-size: 30pt;
    }
    .sale_basket{
        margin-left: 0;
    }
    .sale_basket strike{
        font-size: 30pt;
        margin-top: 10px!important;
        padding-top: 0!important;
    }
    .sale_basket img{
        height: 70px!important;
        width: 70px!important;
    }
    .main_call_back_form_one_click{
        font-size: 30pt;
        height: auto;
        width: 100%;
    }
    .call_back_top_one_click{
        height: auto;
        font-size: 38pt;

    }
    .call_back_top_one_click p{
        float: none;
        display: inline-block;
    }

    .be_back p {
        font-size: 30pt;

    }
    .call_back input{
        font-size: 30pt!important;
        height: auto!important;
    }
    .call_back textarea{
        height: auto!important;
        font-size: 30pt!important;
    }
    .call_back_form_one_click input{
        height: 100px;
        margin-top: 30px;
        border-radius: 50px;
        padding-left: 20px;
    }
    .call_back_form_one_click textarea{
        height: 200px;
        border-radius: 50px;
        margin-top: 30px;
        padding-left: 20px;
    }
    .end_one_click {
        text-align: center;
    }
    .end_one_click button{
        height: 100px;
        border-radius: 50px;
        width: 300px;
    }
    .end_one_click p{
        font-size: 30pt;
        padding-top: 7px;
    }
    #final_sum {
        font-size: 30pt;
    }
    .optom p {
        font-size: 20pt;
    }
    #close_optom img{
        width: 30px!important;
        height: 30px!important;
    }
    .main_optom{
        z-index: 99999;
    }
    .name-one-click h3 {
        font-size: 40pt;
    }
    .sale-one-click p{
        font-size: 30pt;
    }
    .sale-one-click{
        height: auto;
    }
    .window_info-one-click p {
        font-size: 30pt!important;
    }
    .main_call_back{
        height: auto!important;
        width: 100%!important;
        top:25%!important;
        margin-top: 0!important;
        margin-left: 0!important;
        left:0!important;
    }
    .call_back_top{
        height: auto;
    }
    .call_back_top p {
        font-size: 40pt;
        height: 70px;
    }
    .call_back button{
        height: 100px;
        width: 300px;
        border-radius: 50px;
        font-size: 30pt!important;
    }
    .form_one_click{
        width: 100%!important;
        left:0!important;
        top:0!important;
        margin-top: 0!important;
        margin-left: 0!important;
        height: auto!important;
        overflow: auto!important;
        max-height: 100%!important;
    }
    .window-one-click{
        width: 100%;
    }
    .delivery-one-click input{
        height: 30px;
        width: 30px;
    }
    .delivery-one-click p{
        font-size: 30pt;
    }
    .delivery_sum-one-click p{
        font-size: 30pt!important;
    }
    .call_back_top-one-click p{
        font-size: 40pt;
        height: auto;
    }
    .call_back_top-one-click {
        height: auto;
    }
    .list_order p{
        font-size: 30pt;
    }
    #make-order-form-one-click input{
        font-size: 30pt!important;
        height: 100px!important;
        border-radius: 50px;
        margin-top: 30px;
    }
    #make-order-form-one-click textarea {
        font-size: 30pt!important;
        height: 200px!important;
        border-radius: 50px;
        margin-top: 30px;
    }
    #make-order-form-one-click button {
        height: 100px;
        border-radius: 50px;
        width: 300px;
        margin-top: 30px;
    }
    .one_click_sub p{
        font-size: 30pt;
    }
    .to_basket {
        font-size: 30pt!important;
    }


}