<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="staticmenu/stylemenu/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap..."></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <div class="main_call_back">
        <div class="call_back">
            <div class="call_back_top">
                <p>Личные данные</p>
            <a href="#"><img src="staticmenu/imagemenu/krest.png"></a></div>
            <a class="be_back" href ="#"><p> Вернуться в корзину</p></a>
             <form>
                    <input type="text" placeholder="Ваш Телефон">
                    <input type="text" placeholder="Ваше Имя">
                    <textarea type="text" placeholder="Адрес на который необходимо доставить цветы"></textarea>
                    <button type="submit"><p>К оплате</p></button>
                </form>
        </div>
    </div>

</body>
</html>