{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'shop/css/media_style.css' %}">

    <script src="{% static 'shop/js/popup_card.js' %}"></script>
    <script src="{% static 'shop/js/add_to_basket.js' %}"></script>
    <script src="{% static 'shop/js/get_package_list.js' %}"></script>

</head>

<img src="{{ product_info.photo.url }}">
        <div class="window">
        <div class="name"><h3>{{ product_info.name }}</h3>
        <div class="close_card close" id="close_card"><img src="{% static 'shop/img/krest.png' %}"></div>
        <div class="divide"></div>
        <div class="content">
            {% if product_info.attribute %}
                <p class="country_info attr_info">Страна: {{ product_info.attribute.county }}</p>
                <p class="length_info attr_info">Длина: {{ product_info.attribute.length }} см</p>
            {% endif %}
            {% if sale_price %}
                <div class="sale">
                    <strike class="price_in_info">{{ product_info.price }}</strike>
                    <p class="sale_price_in_info">&nbsp{{ sale_price }} Руб/шт</p>
                    <img src="{% static 'shop/img/sale.png' %}">
                </div>
            {% else %}
                <div class="sale">
                    <p class="price_in_info">{{ product_info.price }} Руб/шт</p>
                </div>
            {% endif %}
            <div class="window_info"><p>{{ product_info.description }}</p>
            </div>
            <div class="order_counter">
                    <div class="counter_main">
                            <p>Koл-во</p>
                            <div class="counter">
                              <button type="button" class="but counterBut dec">-</button>
                              <input type="number" id="flower_count" class="field fieldCount" value="1" data-min="1" data-max="101">
                                <button type="button" class="but counterBut inc">+</button>
                            </div>
                    </div>
                    {% if packages %}
                         <div class="list_order">
                             <p>Упаковка</p>
                            <select id="pack">
                                {% for pack_elem in packages%}
                                <option value="{{pack_elem.id}}">{{pack_elem.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <select id="pack" style="display: none;">
                            <option value="999">sdfsdf</option>
                        </select>
                    {% endif %}
            </div>
        </div>
        <div class="divide"></div>

        <div class="add_to_basket" id="add_to_basket">
            <a class="add_order" id="{{ product_info.id }}" onclick=Add_to_basket.call(this)>
                <p class="add_to_basket_done" id="add_to_basket_done">Добавить в корзину</p>
            </a>
        </div>
        <div class="go_back">
            <a class="one_click_2" id="{{ product_info.id }}" onclick="OneClick.call(this)"> <p>купить в 1 клик</p></a>
        </div>
        </div>
    </div>
<script>
    function catalogItemCounter(field){

        var fieldCount = function(el) {

            var
                // Мин. значение
                min = el.data('min') || false,

                // Макс. значение
                max = el.data('max') || false,

                // Кнопка уменьшения кол-ва
                dec = el.prev('.dec'),

                // Кнопка увеличения кол-ва
                inc = el.next('.inc');

            function init(el) {
                if(!el.attr('disabled')){
                    dec.on('click', decrement);
                    inc.on('click', increment);
                }

                // Уменьшим значение
                function decrement() {
                    var value = parseInt(el[0].value);
                    value--;

                    if(!min || value >= min) {
                        el[0].value = value;
                    }
                }

                // Увеличим значение
                function increment() {
                    var value = parseInt(el[0].value);

                    value++;

                    if(!max || value <= max) {
                        el[0].value = value++;
                    }
                }

            }

            el.each(function() {
                init($(this));
            });
        };

        $(field).each(function(){
            fieldCount($(this));
        });
    }
catalogItemCounter('.fieldCount');
</script>
